/************* CSS GLOBAL VARIABLES **************/
:root {
    --dish-colors--primary: #00854b;
    --dish-colors--primary-small: #008149;
    --dish-colors--primary-muted: #6eba7f;
    --dish-colors--secondary: #7fa1bf;
    --dish-colors--neutral-dark: #030303;
    --dish-colors--neutral-mid-text: #8d8d8d;
    --dish-colors--neutral-mid: #c4c4c4;
    --dish-colors--neutral-light: #f5f4f0;
    --dish-colors--error: #83243c;
}

/**************** GENERAL STYLES ****************/
body {
    /* font grows 1px beyond user default size (usually 16px)
    for every 100px of viewport width */
    font-size: calc(1em + 1vw);
    /* leading grows along with font, starting 10% beyond point size
    plus 0.5px per 100px of the viewport width */
    line-height: calc(1.1em + 0.5vw);
    /* use only one variable font family for entire site! */
    font-family: 'Recursive', monospace;
    font-variation-settings: var(--MONO), var(--CASL), var(--wght), var(--slnt), var(--CRSV);
    text-align: left;
}

header {

}

header img {
    width: 4em;
}

nav {
    float: right;
}

footer {

}

/***************** TYPOGRAPHY *****************/

h1 {
    --MONO: 0;
    --CASL: 1;
    --CRSV: 1;
    --slnt: -15;
    --wght: 800;
}

h2 {

}

h3 {

}

nav a {

}



/************ MAIN SECTION STYLES ************/
#ethos {
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--maxTextBlockWidth);
    display:flex;
    flex-direction: column;
    align-items: left;
}

#works {

}

#contact {

}
